// COLORS
$color-grey-light: #b1bbcd;
$color-grey-dark: #808080;

$color-green: #9ecb45;

$color-orange: #ffa046;

$color-blue-light: #4487ff;
$color-blue-medium: #7569de;
$color-blue-dark: #00225c;

$color-red-one: #ff6752;
$color-red-two: #fe6845;
$color-red-three: #fd6845;

$color-white-light: #f8f8f8;
$color-white: #fff;
$color-black: #000;

// FONT
$default-font-size: 1.3rem;

// GRID
$website-grid: 114rem;

$website-width: 114rem;
