.services {
  padding: 15rem 30rem;

  .container-flex {
    display: flex;
    justify-content: space-between;
  }

  .details {
  }

  .cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
  }
}
