.btn {
  &,
  &:link,
  &:visited {
    margin: 1rem;
    display: inline-block;
    border-radius: 9rem;
    transition: all 0.2s;
    font-size: $default-font-size;
  }

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 0.5rem 2rem rgba($color-black, 0.2);
  }

  &-header {
    background-color: $color-blue-light;
    color: $color-white;
    font-weight: 600;
    padding: 1rem 1.5rem;
  }

  &-arrow {
    color: $color-grey-dark;
    box-shadow: 0 0.5rem 2rem rgba($color-black, 0.2);
    padding-right: 0.5rem !important;
    padding: 1.7rem 2.2rem;
    margin-left: 0 !important;

    span {
      background-color: $color-red-two;
      color: $color-white;
      border-radius: 50%;
      padding: 1.2rem;
      margin-left: 4rem;
    }
  }
}
