body {
  position: relative;
  overflow-x: hidden;
}
#svg-1 {
  width: 120vw;
  position: absolute;
  top: -58rem;
  left: -10rem;
  z-index: -999;
  transform: scale(1.2);
}
#svg-2 {
  position: absolute;
  z-index: -999;
  top: 45rem;
  left: -75rem;
  transform: scale(0.76);
}
